# determines if app is in 'prod', 'dev', 'test', or 'stage'
NODE_ENV=dev

# api port. set to whatever you want in 'dev'
PORT=3000

FRONTEND_URL=http://localhost:5173


DOMAIN=DOMAIN
COOKIE_SECRET=secret
JWT_SECRET=secret
JWT_EXPIRY=250000
REFRESH_EXPIRY=100000
EAN_COUNTER_ID=EAN_COUNTER_ID
EAN_COUNTER_DIGITS=9